.wrapper {
  margin: 0;
  padding: 1em;

  .row {
    margin-bottom: 1em;
  }
}

.input {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  width: 300px;
}

.textarea {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  width: 300px;
}
