<div class="wrapper">
  <h1>cah-spellcheck enabled</h1>
  <div class="row">
    <input
      class="input"
      #input
      [value]="inputData"
      (contextmenu)="onRightClick($event, input)"
    />
  </div>
  <div class="row">
    <textarea
      class="textarea"
      #textarea
      (contextmenu)="onRightClick($event, textarea)"
    >{{ textareaData }}</textarea>
  </div>

  <h1>Normal Spellcheck</h1>
  <div class="row">
    <input
      class="input"
      #input
      [value]="inputData"
    />
  </div>
  <div class="row">
    <textarea
      class="textarea"
      #textarea
    >{{ textareaData }}</textarea>
  </div>

  <cah-spellcheck #spellcheck></cah-spellcheck>
</div>